* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter";
  line-height: 28px;
  color: #101828;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 112px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;

  width: 100%;
}

/* PROFILE SECTION */
.profile_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0;
  gap: 24px;

  width: 100%;
}

#profile__img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.handles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#slack {
  display: none;
}

/* LINK SECTION */
.link_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 90%;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-weight: 500;
  font-size: 18px;
  margin: 20px 0px;
  gap: 24px;

  border-radius: 5px;
  text-decoration: none;
}

div a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #eaecf0;
  font-weight: 500;
  font-size: 18px;

  width: 100%;
  border-radius: 5px;
  text-decoration: none;
  color: #101828;
}

div a:hover {
  background-color: #d3d4d8;
  color: #101828;
}

/* FOOTER SECTION */
.section-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #eaecf0;
  padding: 40px 0px;
  gap: 64px;

  width: 100%;
  background: #ffffff;
}
