@media (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
  }

  .main {
    width: 100%;
  }

  .section-footer {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 20px;
  }

  .section-footer {
    display: none;
  }
}
